*{
    padding: 0px;
    margin: 0px;
}
body{ 
        font-family: "Young Serif", serif;
        font-weight: 400;
        font-style: normal;
      
      
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px black solid;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbar-s1__title{
    color: rgb(121, 121, 228);
    
}
.navbar-s2{
    border: 1px solid black;
    width: 60%;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    
}
.navbar-s2 input{
    border: none;
    width: 100%;
    font-size: 16px;
    background-color: transparent;
}
.navbar-s2 input:focus{
    outline: none;
}
.navbar-s3{
    display: flex;
    gap: 30px;
   align-items: center;       
}
.navbar-s4{
    display: none;
}

/* My Learning Popup*/
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    padding: 20px;
    top:150%;
    right: 0;
    display: none;
    
}
.mylearning:hover .mylearning__popup{
    display: block;

}
.categories{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    border-bottom: solid black 1px;
}
.categories p{
    padding: 10px;
    background-color:rgb(137, 130, 236);
    color: white;
    border-radius: 30px;
    border: 1px solid rgb(137, 130, 236);
}
.categories p:hover{
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: 1px solid rgb(137, 130, 236);

}
.sale-image{
    position: relative;
}
.sale-image img{
    width: 100%;  
}
.sale-image__offer{
    border: solid black 2px;
    width: 50%;
    background-color: white;
    padding: 1%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.recommended{
    padding: 10px;
}
.recommended-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}
.course-card img{
    height: 50%;
    width: 100%;
}
.topics{
    padding: 10px;
}
.topics-container{
    display: flex;
    margin-top: 5px;
    gap: 10px;
    flex-wrap: wrap;
    
}
.topics-container p{
    border: solid black 1px;
    flex-grow: 1;
    flex-basis: 25%;    
}

.popular{
    padding: 10px;
}
.popular-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.popular-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}
.popular-card img{
    width: 100%;
}
.footer{
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 10px;
}
.footer-one{
    display: flex;
    gap: 20px;
    
}
.footer-one p{
    margin: 20px;
}
.footer-two{
    margin: 20px;
    display: flex;
    justify-content: space-between;
    
}

/* Media Queries */

@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
    
}
@media screen and (max-width:600px) {
    .course-card, .popular-card{
        flex-basis: 40%;
    }
    .categories{
        display: none;
    }
    .navbar-s2, .navbar-s3{
        display: none;
    }
    .navbar-s4{
        display: block;
    }
    .sale-image__offer{
        width: 60%;
        left: 2%;
    }
}
